<webobject name = "Main">
	<div class="billboard inner-billboard charter-bus-billboard">
		<div class="container">
			<div class="span-24">
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class="container">
			<div class="span-24">
				<div class="span-16-5">
					<div class="page-copy clearfix raised-copy charter-bus-footer">
						<h1>Maui Charter Bus and Mini Tour Bus Rental</h1>
						<h2>We have twenty-five and fourteen passenger mini-buses available for charter.</h2>
						<div class = "clearfix">
							<p>
								<span class = "float-right">
									<wo:img alt = "A fourteen passenger mini-bus" framework = "app" filename = "images/charter-buses/charter-bus.jpg"  width = "325px" height = "217px" />
									<span class = "caption"></span>	
								</span>
								If you are looking for professional and affordable bus charter and rental for your large party while on Maui, Hawaii Executive Transportation is the company to know.
								Our fleet of mini-buses is available to safely take your large party to wherever they need to go while on Maui.  
								We highly recommend charter bus rentals for transportation of wedding guests, large corporate groups or any other large party.
								Let your guests enjoy their experience while making sure they get to where they need to go and back again safely and comfortably.
							</p>
						</div>
					</div>	
				</div>
				<div class="span-6-5 push-1 last">
					<div class="span-6-5 info-panel last prepend-top align-center">
						<h4>
							Make a Reservation Today!
							<span>1-800-833-2303</span>
						</h4>
					</div>
					<wo:link directActionName = "privateCarInformationRequestForm" class="span-6-5 reservation-request-button last prepend-top">
						<p>Fill out the Reservation<br>Request Form</p>
						<span>&nbsp;</span>
					</wo:link>
					<wo:FacebookButton css = "span-6-5" />
					<div class="span-6-5 side-navigation last prepend-top">
						<h3 style = "font-size: 18px;">Transportation Services</h3>
						<ul>
							<li><wo:link href = "$limousineInformationPageLink"><span>Maui Limousine Rentals</span></wo:link></li>
							<li class = "active"><wo:link href = "$charterBusInformationPageLink"><span>Maui Charter Bus Rentals</span></wo:link></li>
							<!-- 
								<li><wo:link href = "$bigIslandVolcanoToursPageLink"><span>Big Island Volcano Tours</span></wo:link></li>
							 -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</webobject>