<webobject name = "Main">
	<div class="billboard inner-billboard contact-billboard">
		<div class="container">
			<div class="span-24">
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class="container">
			<div class="span-24">
				<div class="span-15-5">
					<div class="page-copy clearfix">
						<webobject name = "PageCopy"></webobject>
						<h1>We are happy to answer your questions!</h1>
						<em>
							Hours of Operation: Reservations / Dispatch 7AM to 11PM Daily<br/>
							Open 7 days a week and on ALL Holidays
						</em>
						<div class="span-15-5 last prepend-top">
							<h2>On the Island of Maui</h2>
							<div class="span-7 append-1">
								<wo:img src="images/contact/maui.jpg" class="thumbnail" title = "On the Island of Maui" alt = "On the Island of Maui" />
							</div>
							<div class="span-6 last">
								<address>
									<p>
										<b>Mailing Address:</b><br/>
										P.O. Box 11526<br/>
										Lahaina Hawaii USA 96761<br/>
										<b>E-Mail:</b> <a href = "mailto: maui@hawaiiexecutivetransportation.com?subject=Web Inquiry">maui@hawaiiexecutivetransportation.com</a><br/>
										<b>Tel:</b> <a href = "tel: 808.669.2300">808.669.2300</a><br/>
										<b>Fax:</b> 808.662.0900
									</p>										
								</address>
							</div>
						</div>	
						<div class="span-15-5 last prepend-top">
							<h2>On The Big Island</h2>
							<div class="span-7 append-1">
								<wo:img src="images/contact/the-big-island.jpg" class="thumbnail" title = "On the Island of Maui" alt = "On the Island of Maui" />
							</div>
							<div class="span-6 last">
								<address>
									<p>
										<b>Mailing Address:</b><br/>
										P.O. Box 11526<br/>
										Lahaina Hawaii USA 96761<br/>
										<b>E-Mail:</b> <a href = "mailto: kona@hawaiiexecutivetransportation.com?subject=Web Inquiry">kona@hawaiiexecutivetransportation.com</a><br/>
										<b>Tel:</b> <a href = "tel: 808.327.0022">808.327.0022</a><br/>
										<b>Fax:</b> 808.327.0099
									</p>										
								</address>
							</div>
						</div>		
					</div>	
				</div>
				<div class="span-7-5 push-1 last">
					<div class = "span-7-5 info-panel last">
						<wo:link href = "$reservationsPageLink" class = "red-button">
							Book a Ride Online
							<span>We accept AMEX, Visa & MasterCard</span>	
						</wo:link>
					</div>
					<div class="span-7-5 info-panel last prepend-top">
						<h4>
							Make a Reservation Today!
							<span>1-800-833-2303</span>
						</h4>
					</div>
					<wo:FacebookButton />
					<div class="span-7-5 side-navigation last prepend-top">
						<h3>Airports We Service</h3>
						<ul>
							<li><wo:link href = "$kahuluiAirportPageLink"><span>Kahului Airport</span></wo:link></li>
							<li><wo:link href = "$kapaluaAirportPageLink"><span>Kapalua Airport</span></wo:link></li>
							<li><wo:link href = "$konaAirportPageLink"><span>Kona International Airport</span></wo:link></li>
							<li><wo:link href = "$lihueAirportPageLink"><span>Lihue International Airport</span></wo:link></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</webobject>