<webobject name = "Main">
	<div id = "AirportPage" class="billboard airport-billboard lihue-airport">
		<div class="container">
			<div class="span-24">
				<div>
					<h1>Aloha and Welcome to Kauai!</h1>
				</div>
				<div>
					<webobject name = "ReservationWidget" />
				</div>
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class = "container">
			<div class = "span-24">
				<div class="span-16-5">
					<div class="page-copy clearfix">
						<webobject name = "PageContent"></webobject>
						<h3>Terminal Map</h3>
						<webobject name = "TerminalMapZoom"><webobject name = "TerminalMap" /></webobject>
						<span class = "caption">Click to zoom - <a target = "_blank" href = "http://hawaii.gov/lih/terminal-information/folder/LihueAirportMap.pdf/at_download/file">Printable Version</a></span>						
					</div>
					<div class = "ad-wrap">
						<script type="text/javascript" language="javascript" src="http://www.tkqlhce.com/placeholder-7360932?target=_top&mouseover=N"></script>
					</div>
				</div>
				<div class="span-6-5 push-1 last">
					<div class="span-6-5 side-navigation last prepend-top">
						<webobject name = "AirportNavigation" />
					</div>
					<div class="span-6-5 info-panel last prepend-top">
						<h4>
							Make a Reservation Today!
							<span>1-800-833-2303</span>
						</h4>
					</div>
					<webobject name = "FacebookButton" />
					<div class="span-6-5 info-panel last prepend-top greeter">
						<span>Our friendly staff greets exclusive transfers in baggage claim</span>
					</div>
					<div class="span-6-5 info-panel last prepend-top courtesy-phone">
						<span>For assistance "Dial 55" from the courtesy phone in baggage claim</span>
					</div>
				</div>
			</div>
		</div>
	</div>	
</webobject>