// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/css3";

@mixin placeholder($color) {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
  }
}

@mixin blueGradient {
  background-color: #2981c0;
  @include background-image(linear-gradient(#2981c0, #1f6ead));
  @include text-shadow(-1px -1px 1px rgba(5, 70, 93, 0.75));
  border: none;
}

@mixin blueHoverGradient {
  background-color: #2578b8;
  @include background-image(linear-gradient(#2578b8, #348fd1));
}

@mixin blueActiveGradient {
  @extend blueHoverGradient;
  @include box-shadow(0px 1px 3px 3px rgba(black, 0.15) inset);
}

@mixin greenGradient {
  background-color: #597b13;
  @include background-image(linear-gradient(#597b13, #6e981b));
  @include text-shadow(-1px -1px 1px rgba(5, 70, 93, 0.75));
  border: none;
}

@mixin greenHoverGradient {
  background-color: #608416;
  @include background-image(linear-gradient(#608416, #80ae25));
}

@mixin greenActiveGradient {
  @extend greenHoverGradient;
  @include box-shadow(0px 1px 3px 3px rgba(black, 0.15) inset);
}

@font-face{
  font-family: 'Kahalawai';
  src: url('../fonts/rainforest_rg-webfont.eot');
  src: url('../fonts/rainforest_rg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rainforest_rg-webfont.woff') format('woff'),
  url('../fonts/rainforest_rg-webfont.ttf') format('truetype'),
  url('../fonts/rainforest_rg-webfont.svg#webfont') format('svg');
}

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

$blueprint-grid-columns: 12;
$blueprint-grid-width: 60px;
$blueprint-grid-margin: 20px;
$blueprint-container-size: 940px;

$brown: #b0683e;
$blue: #2573b2;
$gold: #98875f;
$green: #527310;
$lead: #555555;
$mauired: #b1521f;

$defaultFontFamily: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;

* {margin:0;padding:0;}

textarea { overflow: auto; }

.container {
  @include container;
  position: relative;
  padding: 0px 10px;
}

html, body {
  background-color: white;
  font-family: $defaultFontFamily;
  letter-spacing: -1px;
  height: 100%;
}

h1, h2, h3, h4 {
  color: $brown;
  font-style: italic;
  margin-bottom: 1.0em;
}

h3 {
  font-weight: bolder;
  font-size: 2.0em;
}

h4 {
  color: $green;
  font-size: 1.2em;
}

p {
  color: $lead;
  font-size: 1.0em;
  line-height: 1.8em;
  margin-bottom: 1.0em;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#Header {

  @include box-shadow(rgba(black, 0.3) 0 4px 4px);
  background: white;
  background: rgba(255, 255, 255, 0.8);
  display: block;
  height: 92px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;

  .container {
    overflow: visible;
  }

  ul {

    list-style-type: none;
    margin: 48px 0px 0px 230px;
    padding: 0;
    position: relative;

    li {

      display: inline;
      overflow: hidden;
      padding-right: 65px;

      a {
        color: $blue;
        font-family: Kahalawai;
        font-size: 32px;
        letter-spacing: 0px;
        overflow: hidden;
        text-decoration: none;
        width: auto;
      }

      a:hover, a.active {
        color: $brown;
      }

    }

    .consultation {

      a {
        background-image: url('../images/schedule2.png'), url('../images/schedule-hover.png'), url('../images/its-free.png');
        background-position: 0px 35px, 0px 200px, 65px top;
        background-repeat:no-repeat;
        padding-left: 36px;
        padding-top: 30px;
      }

      a:hover, a.active {
        background-image: url('../images/schedule-hover.png'), url('../images/its-free.png');
        background-position: 0px 35px, 65px top;
      }

    }

    .icons {

      a {
        @include inline-block;
        background-repeat: no-repeat;
        height: 36px;
        overflow: hidden;
        background-position: 0px 0px;
        text-indent: -9999px;
      }

      a:first-child {
        background-image: url('../images/tweet-icon.png');
        width: 27px;
      }

      a:last-child {
        background-image: url('../images/linked-in-icon.png');
        margin-left: 25px;
        width: 23px;
      }

      a:hover {
        background-position: 0px -200px;
      }

    }

    li:last-child {
      width: 300px;
    }

    .logo {
      left: -230px;
      position: absolute;
      top: -45px;
      z-index: 1001;
      a {
        img {
          @include transition-duration(0.5s);
          @include transition-timing-function(ease-in);
        }
      }
    }

    .logo {

      a:hover {
        img {
          @include rotate(20deg);
        }
      }

    }

  }

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #Header {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and  (orientation:landscape) {
  #Header {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

#LoginButton {
  background: url('../images/customer-login.png') no-repeat center center;
  display: block;
  height: 66px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  text-indent: -9999px;
  top: 20px;
  width: 145px;
}

#Copy {

  display: block;
  width: 100%;

  > div {
  }

  .container {
    padding: 0px 9px;
  }

  .copy:first-child {
    margin: 30px auto 0px;
    @include border-top-radius(5px);
  }

  .copy {
    background-color: #f7f4ee;
    @include background-image(linear-gradient(#fcfbf9, #f7f4ee));
    @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
    display: block;
  }

  .copy:last-child {
    @include border-bottom-radius(5px);
    margin-bottom: 40px;
  }

}

#Wrap {
  background: white url('../images/bg-pattern.png') repeat;
  background-position: 0px 92px;
  display: block;
  min-height: 100%;
}

#Main {
  overflow:auto;
  padding-bottom: 250px;
}

#BreadCrumbs {
  background: url('../images/breadcrumbs-bar.png') repeat-x;
  display: block;
  height: 43px;
  width: 100%;

  ul {

    background: url('../images/home-icon.png') no-repeat left center;
    display: block;
    height: 43px;
    padding-left: 60px;

    li {

      background: url('../images/bullet.png') no-repeat left center;
      display: inline;
      padding-left: 15px;
      margin-right: 15px;

      a {
        color: $gold;
        font-size: 14px;
        line-height: 43px;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

    }

  }

}

.billboard {

  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 389px;
  margin: 0;
  margin-top: 92px;
  padding: 0;
  width: 100%;

  .container {
    display: table;
    > div {
      height: 389px;
      display: table-cell;
      vertical-align: middle;
    }
  }

  h1 {
    @include text-shadow(rgba(black, 0.6) 2px 2px 4px);
    color: white;
    font-size: 2.8em;
  }

}

#SPHero {
  background-image: url('../images/services/billboard.jpg');
  h1 {
    margin-left: 10px;
    margin-top: 100px;
  }
}

#SPHero.turtle {
  background: url('../images/services/billboard-turtle.jpg');
}

.wnwn {
  background-image: url('../images/case-studies/pineapple-field.jpg');
}

#CPHero {

  background-image: url('../images/contact/billboard.jpg');

  .container {

    display: table;
    h1 {
      display: table-cell;
      height: 392px;
      vertical-align: middle;
    }

  }

  ~ #Copy {

    .container {

      background-color: #f7f4ee;
      @include background-image(linear-gradient(#fcfbf9, #f7f4ee));
      @include box-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
      @include border-radius(4px);
      margin-bottom: 30px;
      margin-top: 1.5em;


      > div {

        padding: 20px;

        form {

          > div:last-child {

            position: relative;

            span {
              @include border-radius(0px 4px 0px 0px);
              @include blueGradient;
              color: white;
              font-size: 1.0em;
              font-weight: lighter;
              padding: 10px 40px;
              position: absolute;
              right: -57px;
              text-align: center;
              top: -20px;

              a {
                color: white;
                display: block;
                font-size: 1.6em;
                margin-top: 0.25em;
                text-decoration: none;
              }

            }

          }

          > div {
            @include inline-block;
            vertical-align: top;
            width: 32%;
            h3 {
              font-weight: normal;
            }
          }

          input[type=text], select, textarea {
            background-color: #dfdfdf;
            color: $lead;
            display: inline;
            margin-bottom: 1.5em;
            padding: 5px;
            width: 240px;
          }

          select {
            width: 250px;
          }

          textarea {
            padding: 10px;
            height: 100px;
            resize: none;
          }

          input[type=text], textarea {
            @include box-shadow(rgba(black, 0.2) 0px 1px 1px 1px inset, rgba(black, 0.2) 0px 1px 1px);
            @include border-radius (2px);
            @include placeholder(lighten($lead, 20%));
            border: none;
          }

          input[required] + sup {
            color: $mauired;
            margin-left: 5px;
          }

          input[type=checkbox] {
            display: none;
          }

          input[type=checkbox] + label {
            background: transparent url('../images/contact/checkbox.png') no-repeat;
            background-position: 0px 0px;
            color: $lead;
            display: block;
            height: 22px;
            margin-bottom: 1.0em;
            padding-left: 30px;
          }

          input[type=checkbox]:checked + label {
            background-position: 0px -80px;
          }

          input[type=submit] {
            @include border-radius(4px);
            @include blueGradient;
            color: white;
            font-size: 1.3em;
            padding: 10px 20px;
          }

          input[type=submit]:hover {
            @include blueHoverGradient;
          }

          input[type=submit]:active {
            @include blueActiveGradient;
          }

        }
      }
    }
  }

}

#CSHero {

  .container {

    display: table;

    > div {
      display: table-cell;
      height: 389px;
      position: relative;
      vertical-align: middle;
      width: 330px;
    }

    > div:first-child {
      width: 600px;
    }

    h2 {
      color: white;
      font-size: 1.4em;
      position: absolute;
      left: 0px;
      top: 320px;
    }

    .picture-frame {

      background-color: rgba(255, 255, 255, 0.6);
      height: 322px;
      vertical-align: middle;
      width: 290px;
    }

  }

  ~ #Copy {

    .container {

      > div {
        @include inline-block;
        margin: 20px 0px 20px 0px;
        vertical-align: top;
      }

      > div:first-child {
        @include border-radius(4px);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
        background-color: #f6f4ee;
        margin-right: 20px;
        padding: 20px;
        width: 580px;

        h3 {
          font-size: 2.0em;
          margin-bottom: 0.5em;
        }
      }

      > div:last-child {

        width: 290px;

        > a {
          display: block;
          margin-bottom: 1.5em;
        }

        > a:first-child {
          background: transparent url('../images/case-studies/next-button-sprite.png') no-repeat;
          background-position: 0px 0px;
          display: block;
          height: 0px;
          margin-left: 180px;
          overflow: hidden;
          padding-top: 41px;
          width: 107px;
        }

        > a:first-child:hover {
          background-position: 0px -60px;
        }

        > a:first-child:active {
          background-position: 0px -130px;
        }

        > a:nth-child(2) {
          color: $blue;
          font-style: italic;
          text-decoration: none;
        }

        > a:nth-child(2):hover {
          text-decoration: underline;
        }

        h4 {
          font-size: 1.4em;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            @include text-shadow(0px 0px 1px white);
            background: transparent url('../images/case-studies/icons') no-repeat 0px 0px;
            color: $mauired;
            display: block;
            font-size: 1.1em;
            height: 44px;
            line-height: 44px;
            margin-bottom: 1.0em;
            overflow: hidden;
            padding-left: 50px;
          }

          li.gd {
            background-position: 0px -50px;
          }

          li.wsp {
            background-position: 0px -100px;
          }

          li.cms {
            background-position: 0px -150px;
          }

          li.na {
            background-position: 0px -200px;
          }

          li.etc {
            background-position: 0px -250px;
          }

        }

      }
    }
  }

}

#QAHero {

  background-image: url('../images/qa/billboard.jpg');

  .container {

    > div {
    }

  }

  ~ #Copy {

    .container {

      .solutions {

        color: $lead;

        strong {
          color: $brown;
          font-size: 1.2em;
          letter-spacing: 1px;
        }

        strong:nth-child(2) {
          margin-left: 1.0em;
        }

        .no {
          color: red;
        }

        .yes {
          color: $green
        }

        p {
          display: block;
          padding-top: 1.0em;
          span {
            color: $green;
            display: block;
          }

        }

      }

      .solutions:nth-child(odd) {
        strong:first-child {
          color: $green;
        }
      }

      .solutions + a {

        @include border-radius(4px);
        @include greenGradient;
        display: block;
        color: white;
        font-size: 1.1em;
        line-height: 1.4em;
        margin-bottom: 1em;
        text-align: center;
        text-decoration: none;
        padding: 10px 10px;
        text-indent: 55px;
        text-align: left;
        width: 230px;

        span {
          background: transparent url('../images/qa/calendar.png') 20px center no-repeat;
          display: block;
          font-family: Kahalawai;
          font-size: 1.8em;
          letter-spacing: 1px;
          padding: 5px 0px;
        }

      }

      .solutions + a:hover {
        @include greenHoverGradient;
      }

      .solutions + a:active {
        @include greenActiveGradient;
      }

      > div {
        @include inline-block;
        margin: 20px 0px 20px 0px;
        vertical-align: top;
      }

      > div:first-child {

        @include border-radius(4px);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
        background-color: #f6f4ee;
        margin-right: 20px;
        padding: 20px;
        width: 640px;

        h3 {
          font-size: 2.0em;
          margin-bottom: 0.25em;
          em {
            color: #527310;
          }
        }

        h4 {
          color: $lead;
        }

        .score {
          background: transparent url('../images/qa/scores.gif') no-repeat;
          background-position: right 0px;
          display: block;
          overflow: hidden;
          padding: 12px 0px;
          width: 100%;

          h3 {
            color: $mauired;
          }

        }

        .score.one {
          background-position: right -200px;
        }

        .score.two {
          background-position: right -400px;
        }

        .score.three {
          background-position: right -600px;
        }

        .score.four {
          background-position: right -800px;
        }

        .score.five {
          background-position: right -1000px;
        }

        form {

          padding-bottom: 100px;

          > div {

            display: table;
            margin-bottom: 2.0em;
            width: 100%;

            > div {

              display: table-row;

              > div {

                color: $lead;
                display: table-cell;
                height: 50px;
                line-height: 1.6em;
                padding: 10px;
                vertical-align: middle;

                strong {
                  color: $brown;
                  font-size: 1.2em;
                  letter-spacing: 2px;
                  margin-right: 10px;
                }

                input[type=radio] {
                  display: none;
                }

                input[type=radio] + label {
                  background: transparent url('../images/qa/radio-buttons.png') no-repeat;
                  background-position: 0px -22px;
                  display: block;
                  height: 22px;
                  padding-left: 30px;
                }

                input[type=radio]:checked + label {
                  background-position: 0px 0px;
                }
              }

              > div:nth-child(odd) {
                background-color: #ece8df;
              }

            }

            > div:nth-child(even) {
              > div {
                background-color: transparent;
                strong {
                  color: $green;
                }
              }
            }

          }

          > div:last-child {

            display: block;
            text-align: right;
            width: 100%;


            > input[type=submit] {
              background: transparent url('../images/qa/see-your-score-button-sprite.png') no-repeat;
              background-position: 0px 0px;
              border: none;
              display: block;
              height: 0px;
              float: right;
              overflow: hidden;
              padding-top: 41px;
              width: 186px;
            }

            > input[type=submit]:hover {
              background-position: 0px -50px;
            }

            > input[type=submit]:active {
              background-position: 0px -100px;
            }

          }

        }


      }

      > div:last-child {

        width: 230px;

        a {

          display: block;
          color: white;
          font-size: 1.1em;
          line-height: 1.4em;
          margin-bottom: 1em;
          text-align: center;
          text-decoration: none;
          padding: 10px 10px;

          span {
            display: block;
            font-size: 1.2em;
          }

        }

        a:first-of-type {

          @include border-radius(4px);
          @include blueGradient;

        }

        a:first-of-type:hover {
          @include blueHoverGradient;
        }

        a:first-of-type:active {
          @include blueActiveGradient;
        }

        a:nth-of-type(2) {

          @include border-radius(4px);
          @include greenGradient;
          text-indent: 55px;
          text-align: left;

          span {
            background: transparent url('../images/qa/calendar.png') 20px center no-repeat;
            font-family: Kahalawai;
            font-size: 1.8em;
            letter-spacing: 1px;
            padding: 5px 0px;
          }

        }

        a:nth-of-type(2):hover {
          @include greenHoverGradient;
        }

        a:nth-of-type(2):active {
          @include greenActiveGradient;
        }


      }
    }

  }

}

#SPHero {

  ~ #Copy {

    .container {

      > h2:first-child {
        font-style: normal;
        font-weight: normal;
        color: $lead;
        font-size: 1.5em;
        margin-top: 1.0em;
        text-align: center;
        width: 100%;

        a {
          color: $blue;
        }

      }

      div {

        @include border-radius(4px);
        @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
        @include inline-block;
        background-color: #f3f2ee;
        margin: 0 0 25px;
        margin-right: 18px;
        overflow: visible;
        padding: 0;
        position: relative;
        width: 298px;

        h2 {
          @include text-shadow(0px 1px 1px white);
          background: #dad3c2 url('../images/services/visitor-count.gif') no-repeat center 25px;
          color: $mauired;
          display: block;
          font-size: 1.5em;
          margin: 0;
          padding: 88px 60px 17px;
          text-align: center;
          width: 178px;
        }

        h3 {
          background: transparent url('../images/services/seo-ribbon.png') no-repeat;
          background-position: 0px 0px;
          display: block;
          height: 89px;
          left: 200px;
          overflow: hidden;
          position: absolute;
          text-indent: -9999px;
          top: 0px;
          width: 108px;
          z-index: 10;
        }

        p {
          padding: 10px;
          text-align: center;
        }

      }

      > div:nth-of-type(3n) {
        margin-right: 0;
      }

      > div:nth-of-type(2) {
        h2 {
          background-image: url('../images/services/improve-user-experience.png');
        }
        h3 {
          background-image: url('../images/services/analytics-ribbon.png');
        }
      }

      > div:nth-of-type(3) {
        h2 {
          background-image: url('../images/services/customer-communication.png');
        }
        h3 {
          background-image: url('../images/services/social-marketing-ribbon.png');
        }
      }

      > div:nth-of-type(4) {
        h2 {
          background-image: url('../images/services/online-presences.png');
        }
        h3 {
          background-image: url('../images/services/web-ribbon.png');
        }
      }

      > div:nth-of-type(5) {
        h2 {
          background-image: url('../images/services/content-management-system.png');
        }
        h3 {
          background-image: url('../images/services/cms-ribbon.png');
        }
      }

      > div:nth-of-type(6) {
        h2 {
          background-image: url('../images/services/custom-coding.png');
        }
        h3 {
          background-image: url('../images/services/app-development-ribbon.png');
        }
      }

    }

  }

}

#HPHero {

  background: url('../images/home/billboard-bg.png') repeat-x;
  height: 571px;
  margin: 0;
  margin-top: 92px;
  padding: 0;
  width: 100%;

  * {
    @include opacity(1);
    @include transition(opacity 0.1s ease-in, left 1.0s ease-out);
  }

  .container {
    overflow: visible;
  }

  h1, h2 {
    font-size: 2.4em;
    font-weight: bolder;
    left: 0px;
    position: absolute;
    top: 85px;
  }

  h2 {
    font-size: 1.2em;
    font-weight: normal;
    top: 250px;
  }

  a.sign {
    left: 0px;
    position: absolute;
    top: 272px;
  }

  a.sign.active, a.sign.active ~ img, a.sign.active ~ h1, a.sign.active ~ h2 {
    @include opacity(0.2);
    left: -2000px;
  }

  img.hero {
    left: 597px;
    position: absolute;
    top: 31px;
  }

}

#Footer {

  background-color: #14395d;
  clear:both;
  display: block;
  height: 250px;
  margin-top: -250px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  #ribbon {
    background: transparent url('../images/bottom-border.png') repeat-x;
    display: block;
    height: 6px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1000;
  }

  .container {

    @include border-radius(15px);
    @include box-shadow(rgba(black, 0.2) 0px 1px 1px 1px inset, rgba(white, 0.1) 0px 1px 1px 1px);
    background: #1f4b76;
    background: rgba(27, 51, 100, 0.3);
    display: block;
    height: 210px;
    margin-top: 20px;
    z-index: 10;

    > div {

      @include inline-block;
      margin-top: 20px;
      margin-right: 10px;
      width: 460px;
      vertical-align: top;

      h5 {
        color: white;
        font-size: 1.2em;
        font-style: italic;
        margin-bottom: 0.5em;
      }

    }

    > div:first-child {

      ul {

        list-style-type: none;
        margin-bottom: 1.0em;
        width: 460px;

        li {
          @include inline-block;
          margin-right: 10px;
          width: 140px;
          a {
            color: white;
            font-size: 0.9em;
            line-height: 1.5em;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }

      p {
        background: url('../images/footer-logo.png') no-repeat 250px center;
        color: white;
        font-size: 0.9em;
        padding: 20px 0px;
        width: auto;
      }

    }

    > div:last-child {
      margin-right: 0;
      form {

        padding: 0;
        margin: 0;

        input[type=text], textarea {
          @include border-radius(4px);
          @include box-shadow(rgba(black, 0.4) 0px 1px 1px 1px inset, rgba(white, 0.2) 0px 1px 1px 1px);
          background-color: #0f3967;
          background-color: rgba(0, 39, 89, 0.5);
          border: none;
          color: white;
          margin-right: 10px;
          padding: 10px 5px;
          width: 190px;
        }

        input[type=text]:last-child {
          margin-right: 0;
        }

        input[type=submit] {
          @include border-radius(4px);
          @include box-shadow(rgba(white, 0.4) 0px 0px 1px 1px, rgba(black, 0.6) 1px 1px 1px 1px);
          border: none;
          background-color: rgb(0, 39, 89);
          background-color: rgba(0, 39, 89, 0.25);
          color: white;
          padding: 8px 10px;
        }

        input[type=submit]:hover {
          background-color: rgb(0, 39, 89);
          background-color: rgba(0, 39, 89, 0.50);
          @include box-shadow(rgba(#2C75FF, 1) 0px 0px 1px 1px, rgba(black, 0.6) 1px 1px 1px 1px);
        }

        input[type=submit]:active {
          background-color: rgb(0, 39, 89);
          background-color: rgba(0, 39, 89, 0.50);
          @include box-shadow(rgba(#2C75FF, 1) 0px 0px 1px 1px, rgba(black, 0.6) 0px 0px 2px 2px inset);
        }

        @include placeholder(#2C75FF);

        span {
          color: white;
          font-size: 0.9em;
          font-weight: normal;
        }

        textarea {
          display: block;
          height: 38px;
          margin-bottom: 1.0em;
          margin-top: 10px;
          resize: none;
          width: 405px;
        }

        a {
          color: white;
        }
      }
    }

  }

  video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

}

#HPHero ~ #Copy {
   .container:first-child {
      padding-bottom: 1.5em;
   }
}

#WhoWeHaveHelped, #CustomSolutions {

  background: url('../images/home/buzzs-wharf2.jpg') no-repeat center center;
  display: block;
  height: 406px;
  width: 270px;


  a {

    @include transition(background-position 0.2s linear);
    background-image: url('../images/home/waves-bg.png');
    background-repeat: no-repeat;
    background-position: 0px bottom;
    color: white;
    display: block;
    height: 70px;
    padding: 326px 20px 10px;
    position: relative;
    text-decoration: none;
    width: 230px;

    h4 {
      color: white;
      font-size: 1.2em;
      font-style: italic;
      margin-bottom: 0.25em;
      margin-top: 0.75em;

    }
  }

  a:hover {
    background-position: -270px bottom;
  }

}

#CustomSolutions {
  background-image: url('../images/home/shaper.jpg');
}

#HPGraphic {

  h3:first-child {
    padding: 20px 0px;
  }

  > div:last-child {

    background: url('../images/home/inbound-marketing.png') no-repeat 180px 75px;
    position: relative;
    height: 400px;

    a {
      @include transition(opacity 0.25s ease-in);
      @include opacity(0.6);
      background-image: url('../images/home/inbound-links.png');
      background-position: 0 0;
      display: block;
      overflow: hidden;
      position: absolute;
      text-indent: -9999px;
      width: 160px;
    }

    a:hover, a.active {
      @include opacity(1);
    }

    a.seo {
      height:100px;
      left: 350px;
      top: 160px;
    }

    a.linkbuilding {
      background-position: 0px -100px;
      height: 137px;
      left: 120px;
      top: 175px;
    }

    a.social {
      background-position: 0px -304px;
      height: 102px;
      left: 70px;
      top: -20px;
    }

    a.blogging {
      background-position: 0px -237px;
      height: 67px;
      left: 30px;
      top: 120px;
    }

    a.email {
      background-position: 0px -406px;
      height: 94px;
      left: 335px;
      top: -5px;
    }

  }

  #ServiceText {

    padding-left: 80px;
    width: 320px;

    h4 {
      margin-bottom: 0.5em;
    }

    p {
      font-size: 0.9em;
      line-height: 1.8em;
    }

    section {
      display: none;
    }

    section.active {
      display: block;
    }

  }

  #ServiceText.seo {
    background: url('../images/home/seo.png') no-repeat left top;
  }

  #ServiceText.linkbuilding {
    background: url('../images/home/link-building.png') no-repeat left top;
  }

  #ServiceText.blogging {
    background: url('../images/home/blogging.png') no-repeat left top;
  }

  #ServiceText.social {
    background: url('../images/home/social.png') no-repeat left top;
  }

  #ServiceText.email {
    background: url('../images/home/email.png') no-repeat left top;
  }

}

.three-col {

  > div {
    @include inline-block;
    margin-top: 30px;
    margin-right: 15px;
    vertical-align: top;
    width: 280px;
  }

  > div:first-child {
    p {
      text-align: justify;
    }
    width: 310px;
  }

}

.two-col {

  > div {
    @include inline-block;
    margin-right: 10px;
    width: 470px;
    vertical-align: top;
  }

  > div:last-child {
    margin-right: 0px;
  }

}

.link-list {

  a {
    color: $blue;
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
  }

  a:hover {
    color: $brown;
  }

}

.picture-frame {

  @include border-radius(4px);

  @include box-shadow(0px 0px 3px rgba(black, 0.4));
  padding: 5px;

  .inset {
    @include box-shadow(rgba(black, 0.2) 0 0 10px 10px inset);
    position: relative;
  }


}
