{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "create_date"; 
            name = createDate; 
            prototypeName = dateTime; 
        }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = "last_modified"; 
            name = lastModified; 
            prototypeName = dateTime; 
        }, 
        {allowsNull = Y; columnName = name; name = name; prototypeName = varchar50; }, 
        {allowsNull = N; columnName = "site_id"; name = siteID; prototypeName = id; }, 
        {allowsNull = Y; columnName = type; name = type; prototypeName = intNumber; }
    ); 
    attributesUsedForLocking = (id, siteID); 
    className = "km.content.eo.KMIAbstractDocument"; 
    classProperties = (createDate, lastModified, name, nodes, site, type); 
    externalName = Document; 
    fetchSpecificationDictionary = {}; 
    isAbstractEntity = Y; 
    name = KMIAbstractDocument; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = KMIAbstractNode; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = documentID; sourceAttribute = id; }); 
            name = nodes; 
        }, 
        {
            destination = KMIWebSite; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = siteID; }); 
            name = site; 
        }
    ); 
}
