<webobject name = "Wrapper">
	<webobject name = "BreadCrumbsBar">
		<li><a href="#">Accounting</a></li>
		<li>Driver Revenue Report</li>
	</webobject>
	<webobject name = "SearchForm">
		<div class = "row-fluid prg-prepend-top">
			<div class = "offset-left">
				<label>Hubs</label>
				<webobject name = "HubSelector"></webobject>	
				<label>Date:</label>
				<webobject name = "DateSelector"></webobject>
				<a href="#" class="btn btn-primary prg-pad-left" onclick = "document.DriverRevenueReportForm.submit();">Search <i class="icon-search icon-white">&nbsp;</i></a>
			</div>
		</div>	
	</webobject>
	<wo:METSInfoBar>Data</wo:METSInfoBar>
	<webobject name = "StaticColumn">
		<div class = "row-fluid">
			<div class="span12">
				<webobject name = "RevenueReportForm">
					<table class="table table-striped table-bordered">
						<webobject name = "DriverRevenueReportsDataTable"></webobject>
					</table>
					<webobject name = "SubmitButton" />
				</webobject>
			</div>	
		</div>
	</webobject>
</webobject>