<wo:METSHorizontalForm action = "$saveChanges">
	<webobject name = "SummaryPage"></webobject>
	<div class="form-actions" style="margin-bottom: 0px;">
		<webobject name = "SubmitButton"></webobject>
		<webobject name = "IsNewObject">
			<webobject name = "SubmitAndStartRoundTripButton"></webobject>
		</webobject>
		<webobject name = "IsNotNewObject">
			<webobject name = "SendSummaryButton">
				Send Summary To Customer <i class = "icon-envelope icon-white">&nbsp;</i>
			</webobject>
			<webobject name = "IsTechnicalAdministrator">
				<webobject name = "DeleteDispatchButton"></webobject>
			</webobject>
		</webobject>
	</div>
</wo:METSHorizontalForm>
