<webobject name = "Main">
	<div class="billboard inner-billboard reservations-billboard">
		<div class="container">
			<div class="span-24">
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class="container">
			<div class="span-24">
				<div class="span-16-5">
					<div class="page-copy clearfix reservations">
						<h1>Reservation Lookup Form</h1>
						<h2>Please enter your confirmation number in the form below.</h2>
						<div class="span-15-5 push-1-2 last">
							<wo:form>
								<webobject name = "MessagesPanel" />
								<div class="span-15-5 push-1-2 last reservations-panel">
									<h3>&nbsp;</h3>
									<div class = "reservations-panel-content">
										<label>Confirmation Number</label>								
										<webobject name = "ConfirmationInput"></webobject>
									</div>
								</div>
								<div class = "align-right span-15-5 push-1-2 last prepend-top">
									<webobject name = "LookupButton"></webobject>
								</div>
							</wo:form>
						</div>
					</div>
				</div>
				<div class="span-6-5 push-1 last">
					<div class="span-6-5 info-panel last">
						<h4>
							Need assistance?
							<span>Please call: 1-800-833-2303</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</webobject>	