<webobject name = "Main">
	<div class="billboard inner-billboard about-us-billboard">
		<div class="container">
			<div class="span-24">
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class="container">
			<div class="span-24">
				<div class="span-15-5">
					<div class="page-copy clearfix">
						<webobject name = "PageCopy"></webobject>
						<h3>Hawaii Hotels we are proud to service:</h3>
						<ul class = "hotels-list">
							<li>
								<a href = "http://www.royallahaina.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/royal-lahaina.gif" alt = "Hawaii Executive Transportation provides airport transportation to the Royal Lahaina Hotel" />
								</a>								
							</li>
							<li>
								<a href = "http://www.westinmaui.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/westin.gif" alt = "Hawaii Executive Transportation provides airport shuttle services to the Hyatt Regency Hotel in Ka'anapali Maui" />
								</a>								
							</li>
							<li>
								<a href = "http://maui.hyatt.com/en/hotel/home.html" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/hyatt-regency.gif" alt = "Hawaii Executive Transportation provides airport shuttle services to the Hyatt Regency Hotel in Ka'anapali Maui" />
								</a>								
							</li>
							<li>
								<a href = "http://www.sheraton-maui.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/sheraton.gif" alt = "Hawaii Executive Transportation provides airport shuttle services to the Sheraton Hotel in Ka'anapali Maui" />
								</a>								
							</li>
							<li>
								<a href = "http://www.kaanapalialii.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/kaanapali-alii.gif" alt = "Hawaii Executive Transportation provides airport shuttle services to the Ka'anapali Ali'i Hotel in Ka'anapali Maui" />
								</a>								
							</li>
							<li>
								<a href = "http://www.royalkona.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/royal-kona.gif" alt = "Hawaii Executive Transportation provides airport transportation to the Royal Kona Hotel located in Kailua-Kona town, Hawaii" />
								</a>								
							</li>
							<li>
								<a href = "http://www.westinmaui.com" target = "_blank">
									<wo:image framework = "app" filename = "images/hotels/classic-resorts-mauna-lani.gif" alt = "Hawaii Executive Transportation provides airport shuttle services to the Classic Resorts Hotel at Mauna Lani" />
								</a>								
							</li>
						</ul>
					</div>	
				</div>
				<div class="span-7-5 push-1 last">
					<div class = "span-7-5 info-panel last">
						<wo:link href = "$reservationsPageLink" class = "red-button">
							Book a Ride Online
							<span>We accept AMEX, Visa & MasterCard</span>	
						</wo:link>
					</div>
					<div class="span-7-5 info-panel last prepend-top">
						<h4>
							Make a Reservation Today!
							<span>1-800-833-2303</span>
						</h4>
					</div>
					<wo:FacebookButton />
					<div class="span-7-5 side-navigation last prepend-top">
						<h3>Airports We Service</h3>
						<ul>
							<li><wo:link href = "$kahuluiAirportPageLink"><span>Kahului Airport</span></wo:link></li>
							<li><wo:link href = "$kapaluaAirportPageLink"><span>Kapalua Airport</span></wo:link></li>
							<li><wo:link href = "$konaAirportPageLink"><span>Kona International Airport</span></wo:link></li>
							<li><wo:link href = "$lihueAirportPageLink"><span>Lihue International Airport</span></wo:link></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</webobject>