<div class="span-15-5 push-1-2 prepend-top last reservations-panel">
	<h3><webobject name = "SummaryLabel"></webobject></h3>
	<div class = "reservations-panel-content clearfix">
		<div class = "span-15">
			<div class = "span-7-5">
				<label>Passenger Count</label>
				<webobject name = "PassengerCount"></webobject>
				<label>Date</label>
				<webobject name = "ReservationDate"></webobject>
				<label>Time</label>
				<webobject name = "ReservationTime"></webobject>
			</div>
			<div class = "span-7-5 push-1-2 last">	
				<label>Service</label>
				<webobject name = "ServiceName"></webobject>
				<label>Pick Up</label>
				<webobject name = "PickUpLocation"></webobject>
				<label>Drop Off</label>
				<webobject name = "DropOffLocation"></webobject>
				<label>Route Total</label>
				<webobject name = "RouteTotal"></webobject>
				<em class = "caption">(includes Hawaii GE Tax)</em>
			</div>
		</div>
	</div>
</div>