<webobject name = "BreadCrumbsBar">
	<li><a href = "#">Global Options</a></li>
	<li>Miscellaneous Dispatch Rates</li>
</webobject>
<webobject name = "StaticColumn">
	<wo:METSInfoBar>General Information</wo:METSInfoBar>
	<div class="row-fluid">
		<webobject name = "MessagesPanel" />
		<webobject name = "PropertiesFileLoaded">
			<webobject name = "Form">
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Baggage Rates" value = "$properties.baggageRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Bicycle Rates" value = "$properties.bicycleRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Box Rates" value = "$properties.boxRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Child Seat Rates" value = "$properties.childSeatRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Surfboard Rates" value = "$properties.surfboardRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Windsurf Rates" value = "$properties.windsurfRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Just put the number NO $ or ," labelText = "Lei Rate" value = "$properties.leiRate"></wo:METSTextInput>
				<wo:METSTextInput helpText = "Enter the number as a percent i.e. 4.00" labelText = "Sales Tax" value = "$properties.salesTax"></wo:METSTextInput>
				<webobject name = "SubmissionBar" />
			</webobject>
		</webobject>
	</div>	
</webobject>