<webobject name = "Main">
	<div class="billboard inner-billboard reservations-billboard">
		<div class="container">
			<div class="span-24">
			</div>
		</div>
	</div>
	<div id="HTContent">
		<div class="container">
			<div class="span-24">
				<div class="span-16-5">
					<div class = "page-copy append-bottom clearfix">
						<noscript>
							<div class = "error">
								<h1>NOTICE:</h1>
								<p>Javascript is required to complete the registration process.  Please enable JavaScript or call: 1-800-833-2303 to complete your reservation.</p>
							</div>
						</noscript>
						<ul class = "reservation-wizard-navigation clearfix">
							<li><span>Reservation</span></li>
							<li>Services</li>
							<li>Checkout</li>
						</ul>
						<wo:form>
							<webobject name = "MessagesPanel" />
							<div class="span-15-5 push-1-2 last reservations-panel">
								<h3>Please select the airport</h3>
								<div class="span-14 last reservations-panel-content">
									<label>Please select an airport:</label>
									<webobject name = "AirportSelector"></webobject>
								</div>
							</div>
							<webobject name = "RoutingInformationUpdateContainer">
								<webobject name = "AirportIsSelected">
									<webobject name = "HasMultipleRoutes">
										<div class = "span-7-3-4 push-1-2">
											<webobject name = "ToPageKey">
												<webobject name = "RoundTripToAirportRoute"></webobject>
											</webobject>
											<webobject name = "FromPageKey">
												<webobject name = "RoundTripFromAirportRoute"></webobject>
											</webobject>
										</div>
										<div class = "span-7-3-4 last">
											<webobject name = "ToPageKey">
												<webobject name = "RoundTripFromAirportRouteLast"></webobject>
											</webobject>
											<webobject name = "FromPageKey">
												<webobject name = "RoundTripToAirportRouteLast"></webobject>
											</webobject>
										</div>		
									</webobject>
									<webobject name = "SingleRoute">
										<div class = "span-15-5 last">
											<webobject name = "ToPageKey">
												<webobject name = "ToAirportRoute"></webobject>
											</webobject>
											<webobject name = "FromPageKey">
												<webobject name = "FromAirportRoute"></webobject>
											</webobject>
										</div>
									</webobject>
									<div class = "align-right span-15-5 push-1-2 last prepend-top">
										<webobject name = "ContinueButton"></webobject>
									</div>
								</webobject>
							</webobject>	
							<webobject name = "AirportSelectorObserver"></webobject>
						</wo:form>
					</div>
				</div>
				<div class="span-6-5 push-1 last">
					<div class="span-6-5 info-panel last">
						<h4>
							Need assistance?
							<span>Please call: 1-800-833-2303</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</webobject>