<h1><webobject name = "ServiceName"></webobject></h1>		
<h2><webobject name = "ServiceShortDescription"></webobject></h2>	
<table>
	<thead>
		<tr>
			<th>Service Description</th>
			<th>Rate</th>
		</tr>
	</thead>
	<tbody>	
		<tr>
			<td><webobject name = "ServiceName" /> Hourly Rate</td>
			<td><webobject name = "HourlyRate" /></td>
		</tr>
		<webobject name = "TransferRatesRepetition">
			<webobject name = "TableRow">
				<td><webobject name = "ServiceName" /> To or From <webobject name = "SecondaryZoneName" /> to <webobject name = "PrimaryZoneName" /></td>
				<td><webobject name = "RateAmount"></webobject></td>
			</webobject>
		</webobject>
	</tbody>		
</table>									
